@font-face {
  font-family: 'Futura PT Book';
  src: url('');
}

:root{
  --text-color: #111111;
--primary-color: #007198;
--ui-color: #f47220;
--background-color: #ffffff;
--select-color: #daf1f9;
}

* {
  box-sizing: border-box;
}

html{
  font-size: 1rem;
}


body{
  font-family: 'Futura PT Book', Arial, sans-serif;
}

.h1{
  font-family: 'Futura PT Heavy', Arial, sans-serif;
font-size: 3.125rem;
line-height: 120%;
color: var(--text-color);
}

.h2{
  font-family: 'Futura PT Heavy', Arial, sans-serif;
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--text-color);
}

h3{
  font-family: 'Futura PT';

}

.text{
  font-size: 1.125rem;
line-height: 120%;
color: var(--text-color);
}

.btn{
  padding: 5px 13px;
  border: 1px solid var(--ui-color);
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--text-color);
  background-color: var(--ui-color);
  box-shadow: 3px 3px 5px rgba(244, 114, 32, 0.4);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover{
  background-color: transparent;
}

.btn:active{
  box-shadow: none;
}

.btn_transparent{
  background-color: transparent;
}

.btn_transparent:hover{
  background-color: var(--ui-color);
}

a{
  text-decoration: none;
}

.header{

}

.service-card {
  position: relative;
  width: 270px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(17, 17, 17, 0.25);
  overflow: hidden;
}
.service-card__title {
  position: relative;
  z-index: 20;
}
.h3 {
}
.service-card__price {
  position: relative;
  z-index: 20;
}
.service-card__img img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);


}

.service-card__overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 44.09%, rgba(255, 255, 255, 0.66) 93.06%);
}

img{
  max-width: 100%;
  height: auto;
}

figure{
  margin: 0;
}


.parent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;

  height: 600px;
  margin: 50px 20px;
}

  .div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 25px;
  font-size: 2rem;
  margin: 10px;
}
.div_1 {
  background-color: #007198;
}
.div_2 {
  background-color: #f47220;
}
.div_3 {
  background-color: blue;
}
.div_4 {
  background-color: chartreuse;
}
